# ===============================
# SERVER CONFIGURATION
# ===============================

PORT=8080

# ===============================
# MONGODB CONNECTION
# ===============================

# Example MongoDB Atlas connection string:
# mongodb+srv://USER:PASSWORD@cluster0.xxxxx.mongodb.net/adoptme

MONGO_URL=mongodb+srv://USER:PASSWORD@cluster0.xxxxx.mongodb.net/adoptme